<div class="character-info">

  <div class="small-2 columns ability-scores">
    <table>
      <thead>
        <tr>
          <th width="15">Ability</th>
          <th width="10">Score</th>
          <th width="10">Modifier</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Strength</td>
          <td><%= @character.str %></td>
          <td><%= @character.str_mod %></td>
        </tr>
        <tr>
          <td>Dexterity</td>
          <td><%= @character.dex %></td>
          <td><%= @character.dex_mod %></td>
        </tr>
        <tr>
          <td>Constitution</td>
          <td><%= @character.con %></td>
          <td><%= @character.con_mod %></td>
        </tr>
        <tr>
          <td>Intelligence</td>
          <td><%= @character.int %></td>
          <td><%= @character.int_mod %></td>
        </tr>
        <tr>
          <td>Wisdom</td>
          <td><%= @character.wis %></td>
          <td><%= @character.wis_mod %></td>
        </tr>
        <tr>
          <td>Charisma</td>
          <td><%= @character.cha %></td>
          <td><%= @character.cha_mod %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="basic-info">
    <h1><%= @character.name %></h1>
    <h4><%= @character.description %></h3>
    <h5>Level: <%= @character.level %> | Class: <%= @character.character_class %> | Race: <%= @character.character_race %></h4>
    <h6>Appearance: <%= @character.appearance %></h6>
    <h6>Alignment: <%= @character.alignment %> | Deity: <%= @character.deity %></h6>
  </div>

  <div class="physical">
      <h5>HP: <%= @character.hp %> | AC: <%= @character.dex_mod + 10 %> | Init: <%= @character.dex_mod %></h5>
      <h5>Fort: <%= @character.con_mod + @character.fort %> | Ref: <%= @character.dex_mod + @character.ref %> | Will: <%= @character.wis_mod + @character.will %></h5>
      <h5>Speed: <%= @character.speed %> feet | Size: <%= @character.size %></h5>
      <h5>Melee: <%= @character.str_mod + @character.bab %> | Ranged: <%= @character.dex_mod + @character.bab %> | CMB: <%= @character.str_mod + @character.bab %></h5>
  </div>
</div>


<!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h1>Skills</h1>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="small-6 columns skills">
    <div class="header">
      <h4>Skills</h4>
    </div>
    <div class="hidden" id="skills-deets">
    <% @skills.each do |skill| %>
      <% rank = @character.rank(skill) %>
      <% class_bonus = 0 %>
      <% ability = skill.ability_mod(@character) %>
      <% ranks = rank.added_ranks.to_i %>
      <% if rank.class_skill && ranks > 0 %>
        <% class_bonus = 3 %>
      <% end %>
      <% total = ranks + ability + class_bonus %>
      <div id="total<%= skill.id %>">
        <%= skill.name %> | <%= skill.ability %> | <%= total %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="small-6 columns weapons">
    <div class="header">
      <h4>Weapons</h4>
    </div>
  </div>
</div>

<div class="row">
  <% if @character.caster %>
    <div class="small-4 columns class_abilities">
  <% else %>
    <div class="small-6 columns class_abilities">
  <% end %>
    <div class="header">
      <h4>Class Abilities</h4>
    </div>
  </div>
  <% if @character.caster %>
    <div class="small-4 columns feats">
  <% else %>
    <div class="small-6 columns feats">
  <% end %>
    <div class="header">
      <h4>Feats</h4>
    </div>
    <div class="hidden" id="feats-deets"><% @feats.each do |feat| %>
      <h5><%= feat.title %></h5>
      <div>Type: <%= feat.feat_type %></div>
      <div>Prerequisites: <%= feat.prerequisites %></div>
      <div>Summary: <%= feat.summary %></div>
      <div>Description: <%= feat.description %></div>
      <div>Benefit: <%= feat.benefit %></div>
      <div>Special: <%= feat.special %></div>
      <% if @character.user == current_user %>
      <div class="buttons">
        <%= button_to 'Edit Feat', edit_character_feat_path(@character, feat), method: :get %>
        <%= button_to 'Delete Feat', [@character, feat], method: :delete, data: { confirm: 'You sure?' }  %>
      </div>
      <% end %>
      <% end %>
      <% if @character.user == current_user %>
      <div class="buttons">
        <%= button_to 'Add a Feat', new_character_feat_path(@character), method: :get %>
      </div>
      <% end %>
    </div>
  </div>
  <% if @character.caster %>
  <div class="small-4 columns spells">
    <div class="header"><h4>Spells</h4></div>
  </div>
  <% end %>
</div>

<% if @character.user == current_user %>
  <div class="buttons">
    <%= link_to 'Edit', edit_character_path(@character) %>
    <%= link_to 'Delete', @character, method: :delete, data: { confirm: 'You sure?' }  %>
  </div>
<% end %>
