<div class="character_info">
  <div class="basic_info">
    <h1><%= @character.name %></h1>
    <h3><%= @character.description %></h3>
    <p>Level: <%= @character.level %> Class: <%= @character.character_class %> Race: <%= @character.character_race %></p>
  </div>
  <div class="physical_info">Speed: <%= @character.speed %> feet Size: <%= @character.size %> Appearance: <%= @character.appearance %></div>
  <div class="religion_info">Alignment: <%= @character.alignment %> Deity: <%= @character.deity %></div>

  <div class="ability_scores">
    <h3>Ability | Bonus</h3>
    <ul>
      <li>Str: <%= @character.str %> | <%= @character.str_mod %></li>
      <li>Dex: <%= @character.dex %> | <%= @character.dex_mod %></li>
      <li>Con: <%= @character.con %> | <%= @character.con_mod %></li>
      <li>Int: <%= @character.int %> | <%= @character.int_mod %></li>
      <li>Wis: <%= @character.wis %> | <%= @character.wis_mod %></li>
      <li>Cha: <%= @character.cha %> | <%= @character.cha_mod %></li>
    </ul>
  </div>
  <div class="hp_def_init">
    <p>HP: <%= @character.hp %> AC: <%= @character.dex_mod + 10 %> Init: <%= @character.dex_mod %></p>
  </div>
  <div class="saves">
    <div>Fort: <%= @character.con_mod + @character.fort %></div>
    <div>Ref: <%= @character.dex_mod + @character.ref %></div>
    <div>Will: <%= @character.wis_mod + @character.will %></div>
  </div>
  <br \>
  <div class="attack">
    <div>Melee: <%= @character.str_mod + @character.bab %></div>
    <div>Ranged: <%= @character.dex_mod + @character.bab %></div>
    <div>CMB: <%= @character.str_mod + @character.bab %></div>
  </div>
  <%= link_to 'Edit', edit_character_path(@character) %>
</div>
<div class="skills">
  <h3>Skills</h3>
  <% @skills.each do |skill| %>
    <% rank = @character.rank(skill) %>
    <% class_bonus = 0 %>
    <% ability = skill.ability_mod(@character) %>
    <% ranks = rank.added_ranks.to_i %>
    <% if rank.class_skill && ranks > 0 %>
      <% class_bonus = 3 %>
    <% end %>
    <% total = ranks + ability + class_bonus %>
    <div id="total<%= skill.id %>">
      <%= skill.name %> | <%= skill.ability %> | <%= total %>
    </div>
  <% end %>
</div>
