<h1><%= @character.name %></h1>
<h3><%= @character.description %></h3>
<p>Level: <%= @character.level %> Class: <%= @character.character_class %> Race: <%= @character.character_race %></p>
<div>Speed: <%= @character.speed %> feet Size: <%= @character.size %> Appearance: <%= @character.appearance %></div>
<div>Alignment: <%= @character.alignment %> Deity: <%= @character.deity %></div>

<div class="ability_scores"> <h3>Ability | Bonus</h3>
  <ul>
    <li>Str: <%= @character.str %> | <%= @character.str_mod %></li>
    <li>Dex: <%= @character.dex %> | <%= @character.dex_mod %></li>
    <li>Con: <%= @character.con %> | <%= @character.con_mod %></li>
    <li>Int: <%= @character.int %> | <%= @character.int_mod %></li>
    <li>Wis: <%= @character.wis %> | <%= @character.wis_mod %></li>
    <li>Cha: <%= @character.cha %> | <%= @character.cha_mod %></li>
  </ul>
</div>
<div class="hp_def_init">
  <p>HP: <%= @character.hp %> AC: <%= @character.dex_mod + 10 %> Init: <%= @character.dex_mod %></p>
</div>
<div class="saves">
  <p>Fort: <%= @character.con_mod + @character.fort %></p>
  <p>Ref: <%= @character.dex_mod + @character.ref %></p>
  <p>Will: <%= @character.wis_mod + @character.will %></p>
</div>
<div class="attack">
  <p>Melee: <%= @character.str_mod + @character.bab %></p>
  <p>Ranged: <%= @character.dex_mod + @character.bab %></p>
  <p>CMB: <%= @character.str_mod + @character.bab %></p>
</div>
