<h1><%= @character.name %></h1>
<h3><%= @character.description %></h3>
<p>Level: <%= @character.level %> Class: <%= @character.character_class %> Race: <%= @character.character_race %></p>
<div>Size: <%= @character.size %> Appearance: <%= @character.appearance %></div>
<div>Alignment: <%= @character.alignment %> Deity: <%= @character.deity %></div>
