<div class="character-info">

  <div class="small-2 columns ability-scores">
    <table>
      <thead>
        <tr>
          <th width="15">Ability</th>
          <th width="10">Score</th>
          <th width="10">Modifier</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Strength</td>
          <td><%= @character.str %></td>
          <td><%= @character.str_mod %></td>
        </tr>
        <tr>
          <td>Dexterity</td>
          <td><%= @character.dex %></td>
          <td><%= @character.dex_mod %></td>
        </tr>
        <tr>
          <td>Constitution</td>
          <td><%= @character.con %></td>
          <td><%= @character.con_mod %></td>
        </tr>
        <tr>
          <td>Intelligence</td>
          <td><%= @character.int %></td>
          <td><%= @character.int_mod %></td>
        </tr>
        <tr>
          <td>Wisdom</td>
          <td><%= @character.wis %></td>
          <td><%= @character.wis_mod %></td>
        </tr>
        <tr>
          <td>Charisma</td>
          <td><%= @character.cha %></td>
          <td><%= @character.cha_mod %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="basic-info">
    <h1><%= @character.name %></h1>
    <h4><%= @character.description %></h3>
    <h5>Level: <%= @character.level %> | Class: <%= @character.character_class %> | Race: <%= @character.character_race %></h4>
    <h6>Appearance: <%= @character.appearance %></h6>
    <h6>Alignment: <%= @character.alignment %> | Deity: <%= @character.deity %></h6>
  </div>

  <div class="physical">
      <h5>HP: <%= @character.hp %> | AC: <%= @character.dex_mod + 10 %> | Init: <%= @character.dex_mod %></h5>
      <h5>Fort: <%= @character.con_mod + @character.fort %> | Ref: <%= @character.dex_mod + @character.ref %> | Will: <%= @character.wis_mod + @character.will %></h5>
      <h5>Speed: <%= @character.speed %> feet | Size: <%= @character.size %></h5>
      <h5>Melee: <%= @character.str_mod + @character.bab %> | Ranged: <%= @character.dex_mod + @character.bab %> | CMB: <%= @character.str_mod + @character.bab %></h5>
  </div>
</div>

<div id="app"></div>

<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1a">Skills</a>
    <div id="panel1a" class="content active">
      <% @skills.each do |skill| %>
        <% rank = @character.rank(skill) %>
        <% class_bonus = 0 %>
        <% ability = skill.ability_mod(@character) %>
        <% ranks = rank.added_ranks.to_i %>
        <% if rank.class_skill && ranks > 0 %>
          <% class_bonus = 3 %>
        <% end %>
        <% total = ranks + ability + class_bonus %>
        <div id="total<%= skill.id %>">
          <%= skill.name %> | <%= skill.ability %> | <%= total %>
        </div>
      </div>
      <% end %>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2a">Feats</a>
    <div id="panel2a" class="content">
      <% @feats.each do |feat| %>
        <h5><%= feat.title %></h5>
        <div>Type: <%= feat.feat_type %></div>
        <div>Prerequisites: <%= feat.prerequisites %></div>
        <div>Summary: <%= feat.summary %></div>
        <div>Description: <%= feat.description %></div>
        <div>Benefit: <%= feat.benefit %></div>
        <div>Special: <%= feat.special %></div>
        <% if @character.user == current_user %>
        <div class="buttons">
          <%= button_to 'Edit Feat', edit_character_feat_path(@character, feat), method: :get %>
          <%= button_to 'Delete Feat', [@character, feat], method: :delete, data: { confirm: 'You sure?' }  %>
        </div>
        <% end %>
      <% end %>
      <% if @character.user == current_user %>
      <div class="buttons">
        <%= button_to 'Add a Feat', new_character_feat_path(@character), method: :get %>
      </div>
      <% end %>
    </div>
  </li>
</ul>

<% if @character.user == current_user %>
  <div class="buttons">
    <%= link_to 'Edit', edit_character_path(@character) %>
    <%= link_to 'Delete', @character, method: :delete, data: { confirm: 'You sure?' }  %>
  </div>
<% end %>
