<div class="character_info">
  <div class="basic_info" align = "center">
    <h1><%= @character.name %></h1>
    <h3><%= @character.description %></h3>
    <p>Level: <%= @character.level %> Class: <%= @character.character_class %> Race: <%= @character.character_race %></p>
  </div>
  <div class="physical_info" align = "right">Speed: <%= @character.speed %> feet Size: <%= @character.size %> Appearance: <%= @character.appearance %></div>
  <div class="religion_info" align = "right">Alignment: <%= @character.alignment %> Deity: <%= @character.deity %></div>

  <div class="ability_scores" align = "left">
    <h3>Ability | Bonus</h3>
    <ul>
      <li>Str: <%= @character.str %> | <%= @character.str_mod %></li>
      <li>Dex: <%= @character.dex %> | <%= @character.dex_mod %></li>
      <li>Con: <%= @character.con %> | <%= @character.con_mod %></li>
      <li>Int: <%= @character.int %> | <%= @character.int_mod %></li>
      <li>Wis: <%= @character.wis %> | <%= @character.wis_mod %></li>
      <li>Cha: <%= @character.cha %> | <%= @character.cha_mod %></li>
    </ul>
  </div>
  <div class="hp_def_init" align="center">
    <p>HP: <%= @character.hp %> AC: <%= @character.dex_mod + 10 %> Init: <%= @character.dex_mod %></p>
  </div>
  <div class="saves">
    <div>Fort: <%= @character.con_mod + @character.fort %></div>
    <div>Ref: <%= @character.dex_mod + @character.ref %></div>
    <div>Will: <%= @character.wis_mod + @character.will %></div>
  </div>
  <br \>
  <div class="attack">
    <div>Melee: <%= @character.str_mod + @character.bab %></div>
    <div>Ranged: <%= @character.dex_mod + @character.bab %></div>
    <div>CMB: <%= @character.str_mod + @character.bab %></div>
  </div>
</div>

<div class="skills">
  <h4>Skills</h4>
  <% @skills.each do |skill| %>
    <% rank = @character.rank(skill) %>
    <% class_bonus = 0 %>
    <% ability = skill.ability_mod(@character) %>
    <% ranks = rank.added_ranks.to_i %>
    <% if rank.class_skill && ranks > 0 %>
      <% class_bonus = 3 %>
    <% end %>
    <% total = ranks + ability + class_bonus %>
    <div id="total<%= skill.id %>">
      <%= skill.name %> | <%= skill.ability %> | <%= total %>
    </div>
  <% end %>
</div>

<div class="feats">
  <h4>Feats</h4>
  <% @feats.each do |feat| %>
    <h5><%= feat.title %></h5>
    <div>Type: <%= feat.feat_type %></div>
    <div>Prerequisites: <%= feat.prerequisites %></div>
    <div>Summary: <%= feat.summary %></div>
    <div>Description: <%= feat.description %></div>
    <div>Benefit: <%= feat.benefit %></div>
    <div>Special: <%= feat.special %></div>
    <% if @character.user == current_user %>
      <%= button_to 'Edit Feat', edit_character_feat_path(@character, feat), method: :get %>
    <% end %>
  <% end %>
</div>

<% if @character.user == current_user %>
  <div class="buttons">
    <%= button_to 'Add a Feat', new_character_feat_path(@character), method: :get %>
    <%= link_to 'Edit', edit_character_path(@character) %>
    <%= link_to 'Delete', @character, method: :delete, data: { confirm: 'You sure?' }  %>
  </div>
<% end %>
