<!DOCTYPE html>
<html>
  <head>
    <title>Rollplay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1><%= link_to 'ROLLPLAY', root_path %></h1>
      <% flash.each do |key, value| %>
        <%= value %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
